
@{
    ViewBag.Title = "Birthday Card Generator";
}

<h2>Welcome to the Birthday Card Generator</h2>

<div>
    @Html.ActionLink("Send a Birthday Card", "New", "Card", null, new { @class = "btn btn-success" })
</div>
