@model HelloWorld.Models.Product[]

@{
    ViewBag.Title = "Products";
}

@if (Model.Length > 0)
{
    <table>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    @switch (product.ProductCount)
                    {
                        case 0:
                            <div>Out of stock</div>
                            break;
                        case 1:
                            <div>Low stock</div>
                            break;
                        default:
                            @String.Format("{0: #, ##0} in stock",  product.ProductCount)
                            break;
                    }
                </td>


            </tr>
        }
    </table>
}
else
{
    <h2>No product data found.</h2>
}